body {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: teal;
}
#main-container {
  padding-left: 0px;
  padding-right: 0px;
  height: inherit;
}

/* Nav Bar */
#top-nav {
  position: absolute;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}
#title-brand {
  font-size: 1.0rem;
}
[class^=window-control] {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.window-control-red:hover {
  fill: #dc3545;
}
.window-control:hover {
  fill: #ccc;
}
.window-control-link {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
#drag-box {
  -webkit-app-region: drag;
  position: absolute;
  width: calc(100% - 140px);
  height: 34px;
}

/* Main Body */
#main-row {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 34px;
  height: inherit;
}

/* Left Side Bar */
#side-bar-col {
  padding: 15px;
}
/* New Game Button */
#add-game-btn {
  width: 100%;
  margin-bottom: 10px;
}
/* Game List */
#game-list-col {
  overflow-y: scroll;
}
#game-list-row {
  height: calc(100% - 48px);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* Content Card */
#main-col {
  padding: 15px;
}
#main-card {
  height: 100%;
}
